{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "react-app",
        "react-app/jest"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "root": true,
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "binaryLiterals": false,
            "blockBindings": true,
            "defaultParams": true,
            "forOf": false,
            "generators": false,
            "objectLiteralComputedProperties": true,
            "objectLiteralDuplicateProperties": false,
            "objectLiteralShorthandMethods": true,
            "objectLiteralShorthandProperties": true,
            "octalLiterals": false,
            "regexUFlag": false,
            "regexYFlag": false,
            "templateStrings": true,
            "unicodeCodePointEscapes": false,
            "jsx": false
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    },
    "globals": {
        "BlobPart": "readonly",
        "DoneFn": "readonly",
        "JSX": "readonly"
    },
    "ignorePatterns": [
        "./node_modules/**",
        "./test-reports/**"
    ],
    "rules": {
        "indent": [
            "warn",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "comma-dangle": [
            "warn",
            "always-multiline"
        ],
        "no-cond-assign": "error",
        "no-console": "warn",
        "prefer-const": "warn",
        "no-constant-condition": "error",
        "no-control-regex": "error",
        "no-debugger": "error",
        "no-dupe-keys": "error",
        "no-empty": "error",
        "no-empty-character-class": "error",
        "no-ex-assign": "error",
        "no-extra-boolean-cast": "error",
        "no-extra-parens": "off",
        "no-extra-semi": "error",
        "no-func-assign": "off",
        "no-inner-declarations": "off",
        "no-invalid-regexp": "error",
        "no-irregular-whitespace": "error",
        "no-unsafe-negation": "error",
        "no-obj-calls": "error",
        "no-regex-spaces": "error",
        "no-sparse-arrays": "error",
        "no-unreachable": "error",
        "use-isnan": "error",
        "valid-typeof": "error",
        "block-scoped-var": "error",
        "complexity": [
            "warn",
            10
        ],
        "consistent-return": "off",
        "curly": "warn",
        "default-case": "off",
        "dot-notation": "warn",
        "eqeqeq": "error",
        "guard-for-in": "warn",
        "no-alert": "warn",
        "no-caller": "error",
        "no-div-regex": "warn",
        "no-else-return": "warn",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extend-native": "warn",
        "no-extra-bind": "warn",
        "no-fallthrough": "error",
        "no-floating-decimal": 0,
        "no-implied-eval": "error",
        "no-iterator": "error",
        "no-labels": "error",
        "no-lone-blocks": "warn",
        "no-loop-func": "warn",
        "no-multi-spaces": "warn",
        "no-multi-str": "warn",
        "no-global-assign": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-octal": "warn",
        "no-octal-escape": "warn",
        "no-proto": "error",
        "no-redeclare": "off",
        "no-return-assign": 0,
        "no-script-url": "error",
        "no-self-compare": "error",
        "no-sequences": 0,
        "no-unused-expressions": [
            "error",
            {
                "allowShortCircuit": false,
                "allowTernary": false
            }
        ],
        "no-void": 0,
        "no-warning-comments": "warn",
        "no-with": "error",
        "radix": [
            "warn",
            "always"
        ],
        "vars-on-top": 0,
        "wrap-iife": [
            "warn",
            "inside"
        ],
        "yoda": "off",
        "strict": 0,
        "no-catch-shadow": "error",
        "no-delete-var": "error",
        "no-label-var": "error",
        "no-shadow": "off",
        "no-shadow-restricted-names": "error",
        "no-undef": "warn",
        "no-undef-init": "warn",
        "no-undefined": "error",
        "no-unused-vars": "off",
        "no-use-before-define": "error",
        "brace-style": [
            "warn",
            "1tbs"
        ],
        "camelcase": [
            "warn"
        ],
        "comma-spacing": [
            "warn",
            {
                "before": false,
                "after": true
            }
        ],
        "comma-style": [
            "warn",
            "last"
        ],
        "consistent-this": [
            "warn",
            "self"
        ],
        "eol-last": [
            "warn",
            "always"
        ],
        "func-names": 0,
        "func-style": 0,
        "key-spacing": [
            "warn",
            {
                "beforeColon": false,
                "afterColon": true
            }
        ],
        "lines-between-class-members": "warn",
        "max-nested-callbacks": "warn",
        "new-cap": "off",
        "new-parens": "error",
        "no-array-constructor": "error",
        "no-inline-comments": 0,
        "no-lonely-if": "error",
        "no-mixed-spaces-and-tabs": "warn",
        "no-multiple-empty-lines": [
            "warn",
            {
                "max": 2,
                "maxEOF": 1
            }
        ],
        "no-nested-ternary": "error",
        "no-new-object": "error",
        "semi-spacing": "off",
        "func-call-spacing": [
            "warn",
            "never"
        ],
        "no-ternary": "off",
        "no-trailing-spaces": "error",
        "no-underscore-dangle": "off",
        "one-var": "off",
        "operator-assignment": [
            "warn",
            "always"
        ],
        "padded-blocks": [
            "warn",
            "never"
        ],
        "quote-props": [
            "error",
            "as-needed"
        ],
        "quotes": [
            "warn",
            "single",
            {
                "allowTemplateLiterals": true
            }
        ],
        "semi": "error",
        "sort-vars": 0,
        "space-before-function-paren": [
            "warn",
            "never"
        ],
        "space-before-blocks": "warn",
        "object-curly-spacing": [
            "warn",
            "always"
        ],
        "array-bracket-spacing": [
            "warn",
            "never"
        ],
        "space-in-parens": [
            "warn",
            "never"
        ],
        "space-infix-ops": "warn",
        "keyword-spacing": [
            "error",
            {
                "before": true,
                "after": true
            }
        ],
        "space-unary-ops": [
            "warn",
            {
                "words": true,
                "nonwords": false,
                "overrides": {
                    "yield": false,
                    "await": false,
                    "void": false
                }
            }
        ],
        "spaced-comment": [
            "warn",
            "always",
            {
                "exceptions": [
                    "*"
                ]
            }
        ],
        "wrap-regex": "warn",
        "no-var": "error",
        "generator-star-spacing": "off",
        "max-depth": [
            "warn",
            6
        ],
        "max-len": "off",
        "max-params": [
            "error",
            4
        ],
        "max-statements": "off",
        "no-bitwise": "off",
        "no-plusplus": "off",
        "@typescript-eslint/array-type": [
            "warn",
            {
                "default": "generic"
            }
        ],
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "args": "after-used",
                "argsIgnorePattern": "^_"
            }
        ],
        "@typescript-eslint/type-annotation-spacing": "warn",
        "@typescript-eslint/no-extra-parens": "warn",
        "@typescript-eslint/no-redeclare": [
            "error"
        ],
        "@typescript-eslint/no-shadow": "warn"
    }
}
