.today-date {
    font-size: .8rem;
}

.today-timeline,
.today-actions {
    margin-top: 2em;
}

.timeline-content {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.task-info {
    display: flex;
    flex-direction: column;
}
