.resume-zone {
    display: flex;
    justify-content: space-evenly;
}

.resume-col {
    display: flex;
    flex-direction: column;
}

.time-resume {
    font-weight: bold;
    font-size: var(--font-size-big);
}

.label-resume {
    font-size: var(--font-size-small);
}

.today-timeline,
.today-actions {
    margin-top: 2em;
}
